<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/dashboard"><img src="https://manish-dropbox.s3.us-east-2.amazonaws.com/MedicationLogo.png" alt="My Medication"  width="60" height="60"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Welcome <%=user.name %> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/files">Prescriptions</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/schedule/view">Schedules</a>
                      </li>
                      <% if(user.name == 'admin'){ %>
                      <li class="nav-item">
                          <a class="nav-link" href="/listUsers">Users</a>
                      </li>
                      <%}%>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                    </ul>
                    <span class="navbar-text">
                    <a href="/users/logout" >Logout</a>
                    </span>
                </div>
            </nav>
            
            <div class="row mt-5">
            <div class="col-md-6 m-auto">
                <div class="card card-body">
                <h1 class="text-center mb-3">
                        <i class="far fa-calendar-plus"></i>
                </h1>
                <% include ./partials/messages %>
                <form action="/schedule/add" method="POST">
                    <input type="hidden" name=user value=<%=user.name %>>
                    <table>
                    <tr>
                        <td colspan="2">
                        <div class="input-field">
                            <label for="sName">Schedule Name</label>
                            <input
                                type="text"
                                id="sName"
                                name="sName"
                                class="form-control"
                                value="<%= data != 'undefined' ? (data.fileName != 'undefined' ? data.fileName : '') : ''  %>"
                            />
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                                <label for="pName">Patient Name</label>
                                <input
                                    type="text"
                                    id="pName"
                                    name="pName"
                                    class="form-control"
                                    value="<%= data != 'undefined' ? (data.patientName != 'undefined' ? data.patientName : '') : ''  %>"
                                />
                            </div>
                        </td>
                        <td>
                        <div class="input-field">
                            <label for="tablet">Tablet Name</label>
                            <input
                                type="text"
                                id="tablet"
                                name="tablet"
                                class="form-control"
                                value="<%= data != 'undefined' ? (data.tabletName != 'undefined' ? data.tabletName : '') : ''  %>"
                            />
                        </div>
                        </td>            
                    </tr>
                    <tr>
                        <td><div class="input-field">
                            <input type="date" id="startDate" name="startDate" class="datepicker" 
                            value="<%= data != 'undefined' ? (data.startDate != 'undefined' ? data.startDate : '') : ''  %>" />
                            <label for="startDate">Start Date</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field">
                                <input type="date" id="endDate" name="endDate" class="datepicker"
                                value="<%= data != 'undefined' ? (data.endDate != 'undefined' ? data.endDate : '') : ''  %>" />
                                <label for="endDate">End Date</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">
                            <label for="morningCnt">Morning tablet count</label>
                            <input
                                type="text"
                                id="morningCnt"
                                name="morningCnt"
                                class="form-control"
                                value="<%= data != 'undefined' ? (data.morningTabCnt != 'undefined' ? data.morningTabCnt : '') : ''  %>"
                            /> 
                        </td>
                        </div>
                        <td>
                            <div class="input-field">
                            <label for="middayCnt">Midday tablet count</label>
                            <input
                                type="text"
                                id="middayCnt"
                                name="middayCnt"
                                class="form-control"
                                value="<%= data != 'undefined' ? (data.middayTabCnt != 'undefined' ? data.middayTabCnt : '') : ''  %>"
                            /> 
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field">                
                            <label for="eveningCnt">Evening tablet count</label>
                            <input
                                type="text"
                                id="eveningCnt"
                                name="eveningCnt"
                                class="form-control"
                                value="<%= data != 'undefined' ? (data.eveTabCnt != 'undefined' ? data.eveTabCnt : '') : ''  %>"
                            /> 
                            </div>
                        </td>
                        <td>
                            <div class="input-field">                
                            <label for="bedtimeCnt">Bedtime tablet count</label>
                            <input
                                type="text"
                                id="bedtimeCnt"
                                name="bedtimeCnt"
                                class="form-control"
                                value="<%= data != 'undefined' ? (data.bedtimeTabCnt != 'undefined' ? data.bedtimeTabCnt : '') : ''  %>"
                            /> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <div class="input-field">
                            <label for="docName">Docter Name</label>
                            <input
                                type="text"
                                id="docName"
                                name="docName"
                                class="form-control"
                                value="<%=  data != 'undefined' ?  (data.docName != 'undefined' ? data.docName : '') : '' %>"
                            />
                        </div>
                    </td>
                    </tr>
                </table>
                <%if (!editFlag) { %>
                    <button type="submit" class="btn btn-primary btn-block">
                        Add Schedule
                    </button>
                <% }else{ %>
                    <table>
                        <tr>
                            <td>
                                <button type="submit" name="confirmBtn" value="confirm" class="btn btn-primary btn-block">confirm</button>
                            </td>
                            <td>
                                <button type="submit" name="deleteBtn" value="delete" class="btn btn-primary btn-block">Delete</button>
                            </td>
                        </tr>
                    </table>

                <% } %>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const Calender=document.querySelector('.datepicker');
        M.Datepicker.init(Calender,{});        
    </script>
</body>
</html>