<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Prescriptions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Welcome <%=user.name %> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/schedule/view">My Schedules</a>
        </li>
        <% if(user.name == 'admin'){ %>
            <li class="nav-item">
                <a class="nav-link" href="/listUsers">Users</a>
            </li>
        <%}%>
        </ul>
        <span class="navbar-text">
        <a href="/users/logout" >Logout</a>
        </span>
    </div>
    </nav>
<div class="container-fluid">
    <h4><center>My Prescriptions</center></h4>
    <br/><br/>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">User Name</th>
            <th scope="col">File Name</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <% var cf = 'http://d27lfrksus1mpj.cloudfront.net/'%>
        <tbody>    
            <% data.forEach(function (data) { %>
            <form action="/delete" method="POST">
                <tr class="table-secondary">
                    <td><%= data.name %></td>
                    <th scope="row"><%= data.fileName %></th>
                    <td><%= data.uploadTime %></td>
                    <td><a href='<%=cf + data.fileName %>'><i class="medium fas fa-file-download"></i></a></td>
                    <td><button type='submit' class='btn' name='<%= data.fileUrl %>'>Delete</button></td>
                    <input type='hidden' id='email' name='email' value='<%= data.email %>'>
                    <input type='hidden' id='fileUrl' name='fileUrl' value='<%= data.fileUrl %>'>
                </tr>
                </form>
                <% }) %>
        </tbody>
        </table> 
</div>