<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Schedules</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Welcome <%=user.name %> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/files">Prescriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listUsers">Users</a>
        </li>
        </ul>
        <span class="navbar-text">
        <a href="/users/logout" >Logout</a>
        </span>
    </div>
</nav>
<div class="container-fluid">
    <h4><center>My Schedules</center></h4>
    <br/>
    <a href="/schedule/add"><button type="submit" class="btn btn-primary">Add Schedule</button></a>
    <br/><br/>
    <% include ./partials/messages %>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Schedule Name</th>
            <th scope="col">Schedule Description</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Tablet Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Activate</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function (data) { %>
                <form action="/schedule/edit" method="POST">
                <tr class="table-secondary">
                    <td><%= data.fileName %></td>
                    <td><%= data.fileDesc %></td>
                    <td><%= data.patientName %></td>
                    <td><%= data.tabletName %></td>
                    <td><%= data.startDate %></td>
                    <td><%= data.endDate %></td>
                    <input type='hidden' id='user' name='user' value='<%= data.user %>'>
                    <input type='hidden' id='fileName' name='fileName' value='<%= data.fileName %>'>
                    <input type='hidden' id='editFlag' name='editFlag' value='true'>
                    <td><button type="submit" name="editBtn" value="edit" class="btn btn-secondary">Edit</button></td>
                    <td><button type="submit" name="activateBtn" value="activate" class="btn btn-secondary">Activate</button></td>
                </tr>
                </form>
            <% }) %>
        </tbody>
    </table>
</div>